#include "winresrc.h"
#include "dse_config.h"

1 VERSIONINFO
FILEVERSION DSE_VERSION_MAJOR,DSE_VERSION_MINOR,DSE_VERSION_PATCH,DSE_VERSION_TWEAK
PRODUCTVERSION DSE_VERSION_MAJOR,DSE_VERSION_MINOR,DSE_VERSION_PATCH,DSE_VERSION_TWEAK
FILEFLAGSMASK 0
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	BLOCK "000004b0"
    BEGIN
      VALUE "CompanyName", "disba1ancer"
      VALUE "FileDescription", "DSE Demo"
	  VALUE "FileVersion", DSE_VERSION_STRING
	  VALUE "InternalName", "dse"
      VALUE "LegalCopyright", "Copyright (C) disba1ancer 2020"
      VALUE "OriginalFilename", "dse.exe"
      VALUE "ProductName", "DSE Demo"
	  VALUE "ProductVersion", DSE_VERSION_STRING
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	VALUE "Translation", 0x0, 1200
  END
END
100 ICON "icon.ico"
1 MANIFEST "manifest.xml"
